Checks: >
    -*,
    readability-identifier-naming,
    readability-magic-numbers,
    readability-non-const-parameter,
    readability-braces-around-statements,
    modernize-concat-nested-namespaces,
    misc-definitions-in-headers,
    boost-use-to-string,
    modernize-make-unique,
    modernize-make-shared,
    readability-avoid-const-params-in-decls,
    google-explicit-constructor
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,     value: lower_case }
  - { key: readability-identifier-naming.ClassCase,         value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,        value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,      value: lower_case }
  - { key: readability-identifier-naming.VariableCase,      value: lower_case }
  - { key: readability-identifier-naming.ConstantCase,      value: lower_case }
